

{% extends 'base.html' %}

{% block content %}

{% if messages %}

<div class="alert alert-success alert-dismissible fade show my-1" role="alert">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type: none;"><strong>{{ message }}</strong></li>
  {% endfor %}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="mx-5 my-3">
  <h2>Password Reset</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset Password</button>
  </form>
</div>


  
{% endblock %}
